
{% extends "layout.html" %}
{% block body %}
{% endblock %}
    
{% block js %}
    <script>	
        $(function() {
            $.rebootOps(
              {"data": [{"name": "ip", "title": "IP\u5730\u5740"}, {"name": "\u6240\u5728\u533a\u57df", "title": "\u6240\u5728\u533a\u57df"}, {"name": "os", "title": "\u64cd\u4f5c\u7cfb\u7edf"}, {"name": "CPU", "title": "CPU"}, {"name": "\u5185\u5b58", "title": "\u5185\u5b58"}, {"name": "\u786c\u76d8", "title": "\u786c\u76d8"}, {"name": "\u4e1a\u52a1", "title": "\u4e1a\u52a1"}, {"name": "\u8d1f\u8d23\u4eba", "title": "\u8d1f\u8d23\u4eba"}], "name": "offline_host", "title": "\u7ebf\u4e0b\u670d\u52a1\u5668"}
            )
        })
    </script>
{% endblock %}

