
{% extends "layout.html" %}
{% block body %}
{% endblock %}
    
{% block js %}
    <script>	
        $(function() {
            $.rebootOps(
              {"data": [{"name": "\u90e8\u95e8", "title": "\u90e8\u95e8"}, {"name": "\u4f7f\u7528\u4eba", "title": "\u4f7f\u7528\u4eba"}, {"name": "\u8d44\u4ea7\u7f16\u53f7", "title": "\u8d44\u4ea7\u7f16\u53f7"}, {"name": "\u914d\u7f6e", "title": "\u914d\u7f6e"}, {"name": "\u65f6\u95f4", "title": "\u65f6\u95f4"}], "name": "product", "title": "\u53f0\u5f0f\u673a"}
            )
        })
    </script>
{% endblock %}

